.pageTile {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.page {
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


#app {
    /* background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center top; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); */
}

.background{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    object-fit: cover;
    transition: opacity 1s ease;
    object-position: 50% 25%;
}

.card {
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    padding: 5vh 5vw;
    margin: 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    flex-wrap: wrap;
}

.styledButton {
    color: black;
    border: solid black;
    padding: 1vh 1vw;
    margin: 0.5vh 0.5vw;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.styledButton:hover {
    color: white;
    background-color: black;
}

.banner{
    animation-name: textAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    background-color: black;
    border: solid gray;
    padding: 3vh 3vw;
    text-transform: uppercase;
    color: white;
    margin: 2vh 2vw;
    font-size: x-large;
}

hr {
    min-width: 90%;
    margin: 2vh 1vw;
}

@keyframes textAnimation{
    from {filter: blur(8px);}
    to {filter: blur(0px);}
}

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: large;
}

.navbar {
    position: sticky;
    z-index: 9;
    top: 0;
    width: 100%;
    background: dimgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.navbar a{
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a:hover,
.navbar .router-link-exact-active {
    color:black;
    background-color: grey;
}

i.fas, i.far {
    font-weight: 400;
}

.article p {
    text-align: justify;
    text-justify: inter-character;
    margin: 2vh 0;
}

.heading{
    margin: 1vh 1vw;
    font-size: x-large;
}

.quote {
    margin: 0;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
    text-align: justify;
    text-justify: inter-character;
    white-space: pre-line;
  }

.quote cite, .quote blockquote {
    margin: 1em;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .4s ease;
}
.component-fade-enter, .component-fade-leave-to {
    opacity: 0;
}

/* mobile */
@media (max-width: 480px) {
    .card, .article, .pageTile {
        max-width: 95vw;
    }
}

/* tablet */
@media (max-width: 768px) {
    .card, .article, .pageTile {
        max-width: 90vw;
    }
}

/* laptop */
@media (max-width: 1024px) {
    .card, .article, .pageTile {
        max-width: 80vw;
    }
}

/* desktop */
@media (min-width: 1025px) {
    .card, .article, .pageTile {
        max-width: 70vw;
    }
}

/* large screens
@media (min-width: 1201px) {

} */