<!DOCTYPE html>
<html>
    <head>
        <title>David O'Donohue | Tic Tac Toe</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' >
        <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
        <link rel="manifest" href="./site.webmanifest">
        <link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://kit.fontawesome.com/02e9cf65f2.js"></script>
    </head>
    <body>
        <div id ='app'>
            <h1>{{info}}</h1><button @click="resetGame">Reset game</button><button @click="console.log(gameState)">Print gameState</button>
            <div class="gameBoard">
                <span v-for="(cell, index) in gameState.grid" @click="tryMove(index)" class="cell">
                    {{cell}}
                </span>
            </div>
            <!-- <span v-for="(row, rowIndex) in grid" class="row">
                <span v-for="(cell, columnIndex) in row" :key="cell" @click="makeMove(rowIndex, columnIndex)" class="cell">
                    {{cell}}Somthing
                </span>
                <br>
            </span> -->
        </div>
    </body>
</html>

<script>

app = new Vue({
    el: '#app',
    data() {
        return {
            gameState: {
                grid: [" ", " ", " ", " ", " ", " ", " ", " ", " "],
                playerTurn: true,
                winner: null
            }
            // grid: [
            //     [" ", " ", " "],
            //     [" ", " ", " "],
            //     [" ", " ", " "]
            // ],
        }
    },
    methods: {
        tryMove(index){
            if (this.gameState.playerTurn && this.gameState.winner === null && this.gameState.grid[index] === " "){
                this.gameState = this.makeMove(this.gameState, index);
                if (this.gameState.winner === null){
                    this.gameState = this.makeMove(this.gameState, this.findBestMoveAI());
                }
            }
        },
        makeMove(gameState, index){
            var newGameState = {
                    grid: gameState.grid.slice(0),
                }
            if (this.legalMove(gameState, index)){
                newGameState.grid.splice(index, 1, gameState.playerTurn ? "X" : "O");
                newGameState.winner = this.checkWin(newGameState.grid);
                newGameState.playerTurn = !gameState.playerTurn;
            }
            return newGameState;
        },
        legalMove(gameState, index){
            return gameState.grid[index] === " ";
        },
        resetGame(){
            this.gameState = {
                grid: [" ", " ", " ", " ", " ", " ", " ", " ", " "],
                playerTurn: true,
                winner: null
            };
        },
        checkWin(grid){
            var rtn = " ";
            for (var i = 0; i < 3; i++){
                if (grid[i * 3] === grid[i * 3 + 1] && grid[i * 3 + 1] === grid[i * 3 + 2]){
                    // row match
                    rtn = grid[i * 3];
                } else if (grid[i] === grid[i + 3] && grid[i + 3] === grid[i + 6]){
                    // column match
                    rtn = grid[i];
                } 
            }
            if ((grid[4] === grid[0] && grid[4] === grid[8]) || (grid[4] === grid[2] && grid[4] === grid[6])){
                // diagonal match
                rtn = grid[4];
            } else {
                var blanksLeft = grid.filter(elem => elem === " ");
                if (blanksLeft.length === 0){
                    rtn = "draw";
                }
            }
            if (rtn === " "){
                rtn = null;
            }
            return rtn;
        },
        legalMoves(grid){
            var indicies = [];
            for (let i = 0; i < grid.length; i++){
                if (grid[i] === " "){
                    indicies.push(i);
                }
            }
            return indicies;
        },
        findBestMoveAI(){
            var legalmoves = this.legalMoves(this.gameState.grid);
            var bestMove = legalmoves[0]; // assumes there is at least 1 legal move, may need to error handle this
            var alpha = -2;
            var beta = 2;
            var index = 0;
            while (index < legalmoves.length && alpha < beta){
                var newState = this.makeMove(this.gameState, legalmoves[index]);
                var currentScore = -this.miniMax(this.makeMove(this.gameState, legalmoves[index]), -beta, -alpha);
                if (currentScore >= alpha){
                    bestMove = legalmoves[index];
                    alpha = currentScore;
                }
                index += 1;
            }
            return bestMove;
        },
        miniMax(gameState, alpha, beta) {
            if (gameState.winner === null){
                var legalmoves = this.legalMoves(gameState.grid);
                var index = 0;
                while (index < legalmoves.length && alpha < beta){
                    var board = this.makeMove(gameState, legalmoves[index]);
                    var currentScore = -this.miniMax(this.makeMove(gameState, legalmoves[index]), -beta, -alpha);
                    if (currentScore >= alpha){
                        alpha = currentScore;
                    }
                    index += 1;
                }
                return alpha;
            } else if (gameState.winner == "X") {
                return gameState.playerTurn ? 1 : -1;
            } else if (gameState.winner === "O"){
                return gameState.playerTurn ? -1 : 1;
            } else if (gameState.winner === "draw"){
                return 0;
            } else {
                console.log("Help!");
            }
        }
    },
    computed:{
        info(){
            if (this.gameState.winner === null){
                if (this.gameState.playerTurn){
                    return "Your turn!";
                } else {
                    return "Thinking...";
                }
            } else if (this.gameState.winner === "X") {
                return "Congratulations! You beat the unbeatable bot!";
            } else if (this.gameState.winner === "O"){
                return "You lost to the unbeatable bot!";
            } else if (this.gameState.winner === "draw"){
                return "It's a draw! This is the best possible outcome!";
            } else {
                return "I've lost my train of thought, please refresh me!";
            }
        }
    },
    mounted(){
        this.resetGame();
    }
})

</script>

<style>

html, body {
    margin: 0;
    padding: 0;
}

#app {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, min(25vh, 25vw));
    grid-template-rows: repeat(3, min(25vh, 25vw));
    place-content: center center;
}

.cell {
    border: solid white;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    transition-duration: 0.4s;
    font-size: min(25vh, 25vw);
}

.fade-in-enter-active {
  transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.fade-in-leave-active {
  transition: opacity 225ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
}

</style>
